body {
    font-family: 'Segoe UI', sans-serif;
    background: #d1d1d1;
    margin: 0;
    padding: 0;
    padding: 0;
}
header {
    background: #4e54c8;
    color: white;
    padding: 1rem;
    text-align: center;
}
footer {
    background-color: #003366;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    border-top: 1px solid #ccc;
    margin-top: auto;
}
#logo-header {
    height: 80px;
    margin-bottom: 1rem;
    object-fit: contain;
}
#calendar {
    max-width: 80%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}
#logoutBtn{
    margin-top: 10px; 
    background: #cd1267; 
    color: black; 
    padding: 8px 16px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
}
#logoutBtn:hover {
    background-color: #00FFFF;
}
#userFolderLink {
    margin-top: 0.5rem;
}
#logoutContainer {
    text-align: center;
    margin-bottom: 1rem;
}
.footer-logo {
    height: 80px;
    margin-bottom: 1rem;
    object-fit: contain;
}
.social-icons a {
    margin: 0 10px;
    color: #555;
    text-decoration: none;
    font-size: 1.2rem;
}
.social-icons a:hover {
    color: #4285f4;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}
