body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#horarios {
    padding: 20px;
    margin-top: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar div {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

.calendar div:hover {
    background-color: #f1f1f1;
}

.available {
    background-color: #4CAF50;
    color: white;
}

.unavailable {
    background-color: #f44336;
    color: white;
}

.available:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
